<p>Select a point/polygon, and a valid 'k'. Then click on submit.</p>

<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">K</label>
    <select class="form-control" id="k">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>
